@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong&family=Open+Sans:wght@700&family=Poppins:wght@300&family=Roboto+Mono:ital@1&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    
}
.container-1{
    max-width: 100%;
    height: 180px;
}
.first-logo{
    width: 50%;
    height: 100px;
    margin: 0 auto;
}
.first-logo img{
    margin-left: 240px;
    margin-top: 35px;
}
.nav-bar{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
ul{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
ul li{
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 10px;

}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black ;
    padding: 40px;
    transition: .5s;
}
ul li a:hover{
    color: rgb(3, 194, 3);
}
.container-2{
    max-width: 100%;
    height: 800px;
    background-image: url(/limlight-temp/images/banner1.jpg);background-repeat: no-repeat;
    background-size: cover;
    padding-top: 220px;
}
.banner{
    width: 50%;
    margin-left: 600px;
}
.banner h1{
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 750;
}
.banner p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 900;
    padding-bottom: 60px;
    

}
.banner a{
    border: 2px solid white;
    font-weight: 800;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 50px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    background-color: white;
}
.container-3{
    max-width: 100%;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
.about{
    width: 50%;
    height: 500px;
    padding: 40px;
}
.about h2{
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;

}
.about span{
    text-transform: capitalize;
    color: rgb(3, 194, 3);
}
.about p{
    font-size: 18px;
    line-height: 35px;
    color: rgb(94, 92, 92);
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    padding-bottom: 70px;
}
.about a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 10px;
}
.abt-img{
    width: 50%;
    height: 500px;
}
.abt-img img{
    width: 500px;
    height: 400px;
    margin: 0 0;
}
.container-4{
    max-width: 100%;
    height: 650px;
    
}
.con-head{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.con-head h2{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}
.con-head span{
    color:rgb(3, 194, 3) ;
}
.our-ser{
    max-width: 100%;
    width: 80%;
    height: 500px;
    margin:0 auto;


}
.our-ser a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    margin-left: 450px;
    padding: 15px 40px;
    background-color: black;
    transition: .5s;
    border-radius: 10px;

}
.our-ser a:hover{
    background-color: rgb(3, 194, 3) ;
}
.row-1{
    width: 100%;
    height: 220px;
    display: flex;
}
.box-1{
    width: 30%;
    height: 220px;
    padding: 20px;
    margin-left: 50px;
}
.box-1 h2{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box-1 p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 20px;

}
.box-2{
    width: 30%;
    height: 220px;
    padding: 20px;
    margin-left: 70px;
}
.box-2 h2{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box-2 p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 20px;

}
.row-2{
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 40px;
}
.box-3{
    width: 30%;
    height:250px;
    margin-left: 300px;
    padding-left: 40px;
}
.box-3 h2{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box-3 p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 20px;

}
.box-4{
    width: 30%;
    height:250px;
    margin-left: 130px;
    
    

}
.box-4 h2{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box-4 p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 20px;
    
}
.container-5{
    max-width: 100%;
    height: 1400px;
    background-color: rgb(240, 238, 238);
    padding-top: 50px;
}
.our-head{
    width: 90%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.our-head h2{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    font-weight: 700;
}
.our-head span{
    color:rgb(3, 194, 3) ;

}
.our-head p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;

}
.our-gallery{
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}
.row-gal-1{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-around;
}
.col-1{
    width: 31%;
    height: 350px;
    background-color: rgb(34, 33, 33);
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 90px;


}
.col-1 h2{
    font-size: 25px;
    padding-bottom: 10px;

}
.col-1 p{
    font-size: 18px;
    line-height: 30px;
}
.col-2{
    width: 31%;
    height: 350px;
     background-image: url(/limlight-temp/images/gallery1.jpg);background-repeat: no-repeat;
     background-size: cover;
        
}
.col-3{
    width: 31%;
    height: 350px;
        background-image: url(/limlight-temp/images/gallery2.jpg);background-repeat: no-repeat;
        background-size: cover;
}
.row-gal-2{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-around;
}
.col-4{
    width: 31%;
    height: 350px;
    background-image: url(/limlight-temp/images/gallery3.jpg);background-repeat: no-repeat;
    background-size: cover;
}
.col-5{
    width: 31%;
    height: 350px;
    background-image: url(/limlight-temp/images/gallery4.jpg);background-repeat: no-repeat;
    background-size: cover;
}
.col-6{
    width: 31%;
    height: 350px;
    background-color: rgb(34, 33, 33);
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 90px;
}
.col-6 h2{
    font-size: 25px;
    padding-bottom: 10px;

}
.col-6 p{
    font-size: 18px;
    line-height: 30px;
}
.row-gal-3{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-around;
}
.col-7{
    width: 31%;
    height: 350px;
    background-color: rgb(34, 33, 33);
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 90px;
}
.col-7 h2{
    font-size: 25px;
    padding-bottom: 10px;

}
.col-7 p{
    font-size: 18px;
    line-height: 30px;
}
.col-8{
    width: 31%;
    height: 350px;
    background-image: url(/limlight-temp/images/gallery5.jpg);background-repeat: no-repeat;
    background-size: cover;
}
.col-9{
    width: 31%;
    height: 350px;
    background-image: url(/limlight-temp/images/gallery6.jpg);background-repeat: no-repeat;
    background-size: cover;
    
}
.container-6{
    max-width: 100%;
    height: 500px;
}
.idea-tym{
    width: 90%;
    height: 400px;
    float: right;
    margin-top: 50px;
    display: flex;
}
.design{
    width: 35%;
    height: 400px;
    text-align: center;
    padding: 50px;
}
.design h1{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    
}
.design p{
    font-size: 17px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(49, 48, 48);

}
.design span{
    color:rgb(3, 194, 3);
}
.des-img{
    width: 65%;
    height: 400px;
}
.des-img img{
    width: 100%;
    height: 400px;
}
.container-7{
    max-width: 100%;
    height: 520px;
    background-color: rgb(34, 33, 33);

}
.foot-card{
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
}
.footrow-1{
    width: 25%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
    line-height: 25px;
    font-size: 18px;
}

.footrow-2{


    width: 25%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;

}
.footrow-2 h2{
    padding-bottom: 20px;
    font-size: 30px;
}
.footrow-2 p{
    font-size: 18px;
    line-height: 25px;
}
.footrow-3{
    width: 25%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}
.footrow-3 h2{
    font-size: 30px;
}
.end-card{
    display: block;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.input{
    width: 45%;
    height: 55px;
    border-bottom: 1px solid white;
    margin-top: 50px;
    float: right;
    margin-right: 50px;
}
.email{
    font-size: 20px;
    width: 500px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;

}
button{
    font-size: 22px;
    background-color: transparent;
    color: white;
    border: none;
}
.footrow-4{
    width: 25%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;

}
.footrow-4 h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.footrow-4 p{
    line-height: 25px;
    font-size: 18px;

}
.copywrite{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;

}
.copywrite span:hover{
    color:rgb(3, 194, 3); 
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .container-1{
        display: flex;
        height: 120px;
        width: 100%;
    }
    .first-logo{
        width: 35%;
        height: 100px;
        margin: 0 0;
    }
    .first-logo img{
    width: 140px;
    margin-left: 10px;
    margin-top: 35px;
}
.nav-bar{
    width: 50px;
    height: 50px;
    background-image: url(/limlight-temp/images/menu_icon.png);background-repeat: no-repeat;
    background-size: 30px;
    margin-left: 250px;
    margin-top: 50px;
    
}
ul{
    display:none;
    

}
.container-2{
    width: 100%;
    height: 600px;
    background-size: 500px 550px;
    padding-top: 180px;
}
.banner{
    width: 80%;
    height: 300px;
    margin: 0 0;
    padding-left: 10px;
}
.banner h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.container-3{
    width: 100%;
    height: 500px;
    display:unset;
}
.about{
    margin-top: 150px;
    width: 100%;
    height: 500px;
    padding: 10px;
}
.about h2{
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 30px;

}
.about p{
    font-size: 16px;
}
.about a{
    font-weight: 500;
    border-radius: 40px;
}
.abt-img{
    width: 100%;
    height: 400px;
}
.abt-img img{
    width: 500px;
    height: 400px;
    margin: 0 0;
    padding: 30px;
}
.container-4{
    max-width: 100%;
    height: 1100px;

    
}
.our-ser{
    height: 1000px;
    margin: 0 0;
    width: 100%;
}
.con-head{
    max-width: 80%;
}
.con-head h2{
    font-size: 30px;
}
.row-1{
    display: unset;
    height: 300px;
}
.box-1{
    width: 100%;
    margin: 0 0;
    padding: 10px;
}
.box-1 img{
    padding-left: 180px;
}
.box-1 h2{
    padding-left: 160px;
}
.box-2{
    width: 100%;
    margin: 0 0;
    padding: 10px;
}
.box-2 img{
    padding-left: 180px;
}
.box-2 h2{
    padding-left: 120px;
}
.row-2{
    display: unset;
    height: 1000px;
    margin-bottom: 30px;
}
.box-3{
    width: 100%;
    height: 180px;
    margin: 0 0;
    padding: 10px;
}
.box-3 img{
    padding-left: 180px;
}
.box-3 h2{
    padding-left: 160px;
}
.box-4{
    width: 100%;
    height: 230px;
    margin: 0 0;
    padding: 10px;
}
.box-4 img{
    padding-left: 180px;
}
.box-4 h2{
    padding-left: 160px;
}
.our-ser a{
    margin-left: 150px;
}
.our-head{
    width: 100%;
    height: 160px;
}
.our-head h2{
    font-size: 30px;
}
.our-head p{
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
}
.container-5{
    height: 3900px;
}
.row-gal-1{
    display: unset;
    height: 500px;

}
.col-1{
    width: 100%;
    height: 200px;
    padding: 40px;
    margin-bottom: 30px;
}
.col-2{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}
.col-3{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}
.row-gal-2{
    display: unset;
    height: 500px;

}
.col-4{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}
.col-5{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}
.col-6{
    width: 100%;
    height: 200px;
    padding: 40px;
    margin-bottom: 30px;

}
.row-gal-3{
    display: unset;
    height: 500px;
}
.col-7{
    width: 100%;
    height: 200px;
    padding: 40px;
    margin-bottom: 30px;
}
.col-8{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}
.col-9{
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.idea-tym{
    display: unset;
    float: none;
    height: 400px;
}
.design{
    width: 100%;
    height: 200px;
    padding: 20px;

}
.des-img{
    width: 100%;
    height: 350px;
}
.des-img img{
    width: 100%;
    height: 250px;
}
.container-7{
    height: 1000px;
}
.foot-card{
    display: unset;

}
.footrow-1{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}
.footrow-2{
    width: 100%;
    height: 200px;
    padding: 20px;

}
.footrow-3{
    width: 100%;
    height:320px;
    padding: 10px;

}
.footrow-3 h2{
    padding-bottom: 10px;
}
.end-card{
    font-size: 20px;
    margin-left: 10px;
}
.footrow-4{
    width: 100%;
    height: 200px;
    padding: 20px;

}
.input{
    width:100%;
    float: none;
    margin: 0 10px;
}
.email{
    font-size: 18px;
    width: 300px;
    height: 50px;

}
.copywrite{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-size: 16px;

}
}